[core]
	quotepath = off
	excludesFile = /Users/alexeypegov/.gitignore_global
;	pager = delta
[user]
	name = Alexey Pegov
	email = alexey@pegov.dev
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = master
[pull]
	rebase = true
[alias]
	fza = "!git ls-files -m -o --exclude-standard | fzf --print0 -m | xargs -0 -t -o git add"
	save = "!git stash push -m \"$1\" #"
[push]
	followTags = true
	autoSetupRemote = true
[interactive]
    diffFilter = delta --color-only
[delta]
    side-by-side = true
    navigate = true    # use n and N to move between diff sections
    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true
	#side-by-side = true
[merge]
    conflictstyle = zdiff3
	
# [mergetool "juxta"]
# 	cmd = juxta _mergetool --base \"${BASE:-/dev/null}\" --local \"$LOCAL\" --remote \"$REMOTE\" --merged \"${MERGED:-/dev/null}\"
# 	trustExitCode = true
# [difftool "juxta"]
# 	cmd = juxta _difftool --local \"$LOCAL\" --remote \"$REMOTE\" --merged \"$MERGED\"
# 	trustExitCode = true
# [merge]
# 	tool = juxta
# [diff]
# 	tool = juxta
